# This option excludes win32 because Z3 apparently does not work
# and flambda because it hangs (or takes a very long time) on my code for the present time.
# uncertain how to detect flambda
available: [ os != "win32" & arch != "riscv64" & arch != "riscv32" ]
